<div class="row home-center">
  <div class="small-4 small-centered columns text-center">
    <h1>Calorista!</h1>
    <p>Track your bun and calorie intake painlessly</p>
    <%= link_to "Sign up", new_user_registration_path, class:"button hollow" %>
  </div>
</div>
