<h1>My Activities</h1>

<!-- <div id="activities_chart" style="height: 250px;"></div> -->


<div class="row">
  <div class="columns small-12 medium-3">
    <strong>Name</strong>
  </div>
  <div class="columns small-12 medium-3">
    <strong>Date</strong>
  </div>
  <div class="columns small-12 medium-2">
    <strong>Activity type</strong>
  </div>
  <div class="columns small-12 medium-2">
    <strong>Calories</strong>
  </div>
  <div class="columns small-12 medium-2">
    <strong>Action</strong>
  </div>
</div>

<%= render @activities %>

<% paginate @activities %>
